# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.unity-board-escape.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../:\Repos\unity-board-escape\.idea\.idea.unity-board-escape\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
